# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#vscode
.vscode*

apps/web/node_modules
apps/web/.next
apps/web/dist
apps/web/build
apps/web/public
apps/web/src/app/api/
apps/web/.yalc
apps/web/out/*

packages/api/node_modules
packages/api/.next
packages/api/dist
packages/api/build
packages/api/public
packages/api/src/app/api/

#ignore all node_modules inside packages
**/node_modules
**/dist
**/build
**/public

.turbo
output.log

*.db.sqlite*

#ignore .git
.git

#ignore .env
.env
.env.local
